<!DOCTYPE html>
<html>
    <title>Word guesser</title>

    <P>Choose a difficulty</P>
    <form action = "/easy" method = "POST">
        <button type = "submit">Easy difficulty</button>
    </form>
    
    <form action = "/medium" method = "POST">
        <button type = "submit"> medium difficulty</button>
    </form>

    <form>
        <button type = "submit"> Hard difficulty</button>
    </form>
    <br><br><br>

    <form action = "/game_screen">
        <button type = "submit">Play</button>

    </form>











</html>