<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_screen.css') }}">

    
    <title>Word guesser</title>
    

    <h2>Choose a difficulty</h2>
    </head>
    <body>
    <form action = "/easy" method = "POST">
        <button type = "submit">Easy difficulty</button>
    </form>
    
    <form action = "/medium" method = "POST">
        <button type = "submit"> medium difficulty</button>
    </form>

    <form action = "/hard" method = "POST">
        <button type = "submit"> Hard difficulty</button>
    </form>
    <br><br><br>

    <p>You have nine lives to guess a word choose a difficulty to start </p>

    

    </body>












</html>